* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fullScreen {
  height: 100vh;
}
/* All inputs and buttons*/
input,
select {
  padding: 0.5rem;
  background-color: #465569;
  border: none;
  border-bottom: #eefcfa solid 3px;
  color: #eefcfa;
  font-size: 1.1rem;
}

input:focus {
  outline: none;
}

input[type="submit"],
button {
  background-color: #81d4f3;
  border: none;
  padding: 0.5rem;
  font-size: 1.1rem;
  color: #36677b;
  cursor: pointer;
}
input[type="submit"]:hover,
button:hover {
  background-color: #5f97ac;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/*login and register components styling*/

.formLoginRegister {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: #465569;
}

.formLoginRegister > form {
  display: flex;
  flex-direction: column;
  color: #81d4f3;
  text-align: center;
  gap: 3rem;
  width: 350px;
}

.formLoginRegister > form > a {
  cursor: pointer;
  color: #eefcfa;
  font-size: 1.1rem;
}
.formLoginRegister > form > a:hover {
  text-decoration: underline;
}

/*Modifie and delete button*/

.deleteBtn {
  background-color: rgb(200, 0, 0);
  color: rgb(100, 0, 0);
}

.deleteBtn:hover {
  background-color: rgb(150, 0, 0);
}

.modifieBtn {
  background-color: rgb(200, 200, 0);
  color: rgb(100, 100, 0);
}

.modifieBtn:hover {
  background-color: rgb(150, 150, 0);
}

/* Tables*/

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.1rem;
  text-align: center;
}

th,
td {
  padding: 1rem;
}

tr:hover td {
  background-color: #5f97ac;
}

/*Departments, Jobtitles and Employees*/

.jobDepEm {
  display: grid;
  grid-template-rows: 100px 100px auto;
  padding: 1rem;
  height: 100%;
}

.jobDepEm  > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jobDepEm  > div:last-child{
  overflow:scroll;
}


.addSearch {
  display: flex;
  flex-direction: row;;
  align-items: center;
  justify-content: space-between;
}

/*Departments, Jobtitles and Employees forms*/

.forms {
  position: absolute;
  top: 0;
  background-color: rgba(70, 85, 105, 0.5);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.forms > div {
  width: 350px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: rgba(70, 85, 105, 1);
  border: solid 3px #81d4f3;
}

.forms > div > div {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.forms > div > form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}

/* utilities */
.divRelitive {
  position: relative;
}

/*Dispplay*/
#display {
  background-color: #465569;
  color: #eefcfa;
}

/*Reports and Chart*/
.reportChart{
  text-align: center;
  display: grid;
  grid-template-rows: 100px 100px auto;
}

.reportChart > div{
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.reportChart > div > form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  

}

.reportChart > div > object, .reportChart > div > .chart {
  height: 100%;
  width: 100%;
  max-width: 1100px;
}