* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fullScreen {
  height: 100vh;
}

/*login and register components styling*/

.formLoginRegister {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: steelblue;
}

.formLoginRegister > form {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: blue;
  padding: 3rem;
  text-align: center;
  gap: 1rem;
}

.formLoginRegister > form > input[type="submit"] {
  width: 50%;
  align-self: center;
}

.formLoginRegister > form > a {
  cursor: pointer;
}
